<div class="panel panel-default">
	<div class="panel-heading"><h1>Welcome</h1></div>
	<div id="messages-table" class="panel-body">
		<p>This page allows you to register and then adding the letter with the tasks</p>
	</div>
