<div class="jumbotron">
	<h1>Witaj</h1>
	<p>Strona domowa</p>
	<%= link_to "Main Page", root_path, class: 'btn btn-default' %>
	<%= link_to "About Us", home_about_path , class: 'btn btn-primary'%>
</div>