<div class="jumbotron">
	<h1>Witaj</h1>
	<p>Strona domowa</p>
	<%= link_to "Strona glowna", root_path, class: 'btn btn-default' %>
	<%= link_to "Strona o mnie", home_about_path , class: 'btn btn-primary'%>
</div>